:host {
  display: contents;
}

.navigation {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  nav.main-bar {
    height: 50px;
    line-height: 50px;
    font-size: xx-large;
    padding: 0 1rem;
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px 0px gray;
    z-index: 100;

    a {
      text-decoration: none;
      color: white;
    }
  }

  nav.secondary-bar {
    height: 40px;
    line-height: 40px;
    font-size: normal;
    padding: 0 1rem;
    background-color: var(--primary-color-light);
    box-shadow: 0 2px 4px 0px gray;
    z-index: 50;
  }
}
