.post {
  padding: 1rem;

  .heading {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1 1;
    margin: 0 0 1rem 0;

    .title {
      font-weight: bold;
      color: var(--primary-color);
      margin: 0;
    }

    .created {
      align-self: flex-end;
    }
  }

  ::ng-deep .content {
    h2 {
      color: var(--secondary-color);
    }
  }
}
