<div class="posts">
  <mat-card
    class="post"
    (click)="onPostSelected(post)"
    *ngFor="let post of posts$ | async"
  >
    <div class="heading">
      <h1 class="title">
        {{ post.title }}
      </h1>
      <div class="created">
        {{ post.created | date }}
      </div>
    </div>
    <div class="content">{{ post.summary | stripHtml }}</div>
  </mat-card>
</div>

<mat-card>
  <mat-paginator
    [pageIndex]="pageIndex$ | async"
    [pageSize]="size$ | async"
    [length]="totalElements$ | async"
    [showFirstLastButtons]="true"
    (page)="paginateList($event)"
  >
  </mat-paginator>
</mat-card>
