:host {
  width: 100%;
}

.posts {
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
  width: 100%;
  margin-bottom: 12px;

  .post {
    .heading {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      flex: 1 1;
      margin: 0 0 1rem 0;

      .title {
        font-weight: bold;
        color: var(--primary-color);
      }

      .created {
        align-self: flex-end;
      }
    }

    .name {
      font-size: 80%;
      text-transform: uppercase;
      color: gray;
    }
  }
}
