<div class="posts">
  <mat-card
    class="post"
    (click)="onPostSelected(post)"
    *ngFor="let post of posts$ | async"
  >
    <div class="heading">
      <h2 class="title">
        {{ post.title }}
      </h2>
      <span class="created">
        {{ post.created | date }}
      </span>
    </div>
    <span class="content">
      <!-- TODO -->
      {{ post.summary }}
    </span>
  </mat-card>
</div>

<mat-paginator
  [pageIndex]="pageIndex$ | async"
  [pageSize]="size$ | async"
  [length]="totalElements$ | async"
  [showFirstLastButtons]="true"
  (page)="paginateList($event)"
>
</mat-paginator>
